<h2 mat-dialog-title>Cập nhật sự kiện</h2>
<div mat-dialog-content>
    <form [formGroup]="formCtrl">
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Mô tả</mat-label>
            <textarea matInput formControlName="event"></textarea>
        </mat-form-field>
    </form>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading.pending"></mat-progress-bar>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Hủy</button>
    <button mat-raised-button color="primary" (click)="save()">Lưu</button>
</div>