<mat-progress-bar mode="indeterminate" *ngIf="loading.pending"></mat-progress-bar>
<div fxLayout="row wrap" fxLayout.xs="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
  <div fxFlex.gt-xs="20%" *ngFor="let item of listProduct">
    <div style="margin: 12px;height: 100%;padding-bottom: 12px;">
        <mat-card style="height: 100%;">
          <div class="img-product">
            <img [src]="this.productService.getSitePath()+item.img_default" [alt]="item.name"
              onerror="this.src='assets/images/product/no_image.png'" style="max-height: 125px;">
          </div>
          <mat-card-content >
            <mat-chip-list aria-label="Name selection">
              <mat-chip color="accent" selected>{{item.name}}</mat-chip>
            </mat-chip-list>
            <h5>{{item.alias}}</h5>
            
          </mat-card-content>
          <button mat-button color="warn" (click)="restore(item.id)">
            Khôi phục
          </button>
        </mat-card>
    </div>
  </div>
  <div class="message-box info" *ngIf="listProduct.length <=0 ">
    Danh sách trống.
  </div>
</div>