<div class="page-layout carded fullwidth tabbed inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg warn-900-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <div class="header px-24 warn-900-bg" fxLayout="row" fxLayoutAlign="start center">
            <h1 class="white-fg link" routerLink="/shop">CỬA HÀNG</h1>
        </div>

        <div class="content-card mat-white-bg">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24">
                <h1>Tạo của hàng mới</h1>
            </div>

            <mat-progress-bar mode="indeterminate" *ngIf="loading.pending"></mat-progress-bar>
            <div class="p-24" fxLayout fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="10px"
                fxLayoutGap.xs="0" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
                <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-xs="100" fxFlex.gt-md="60"
                    [formGroup]="formCrt">
                    <div>
                        <div *ngIf="pathImage!=''">
                            <img [src]="pathImage" onerror="this.src='assets/images/product/no_image.png'"
                                style="width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        </div>
                        <div *ngIf="pathLogo!=''" fxLayout="row" fxLayoutAlign="center center">
                            <div class="box-savatar">
                                <img class="savatar" [src]="pathLogo"
                                    onerror="this.src='assets/images/product/no_image.png'">
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex.gt-xs="50" class="p-12 text-center">
                            <input type="file" id="btnUploadFile" class="inputFile" (change)="uploadAvatar($event)"
                                placeholder="Upload file" accept=".image/jpeg, .png, .jpg">
                            <label for='btnUploadFile' class="labelUpload">
                                <span>Tải lên ảnh tường</span>
                            </label>
                            <small>Nên chọn ảnh có kích thước <b>Rộng 800, Cao 400</b></small>
                        </div>
                        <div fxFlex.gt-xs="50" class="p-12 text-center">
                            <input type="file" id="btnUploadLogo" class="inputFile" (change)="uploadLogo($event)"
                                placeholder="Upload logo" accept=".image/jpeg, .png, .jpg">
                            <label for='btnUploadLogo' class="labelUpload">
                                <span>Tải lên logo</span>
                            </label>
                            <small>Nên chọn ảnh có tỉ lệ <b>Vuông</b></small>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex.gt-xs="100">
                            <mat-label>Tên cửa hàng</mat-label>
                            <input matInput formControlName="name">
                            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                            <mat-error>Tên cửa hàng là bắt buộc!</mat-error>
                        </mat-form-field>


                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex.gt-xs="50" class="pr-4">
                            <mat-label>Số điện thoại</mat-label>
                            <input matInput required formControlName="phone">
                            <mat-icon matSuffix class="secondary-text">contact_phone</mat-icon>
                            <mat-error>Số điện thoại là bắt buộc!</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex.gt-xs="50" class="pl-4">
                            <mat-label>Mã số thuế</mat-label>
                            <input matInput required formControlName="tax_code">
                            <mat-icon matSuffix class="secondary-text">apps</mat-icon>
                            <mat-error>Mã số thuế là bắt buộc!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex.gt-xs="100">
                            <mat-label>Địa chỉ</mat-label>
                            <textarea matInput required formControlName="address">

                        </textarea>
                            <mat-error>Địa chỉ là bắt buộc!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex.gt-xs="100" style="width: 100%;">
                            <mat-label>Tỉnh thành</mat-label>
                            <mat-select formControlName="province_id" (selectionChange)="changeProvince($event)">
                                <mat-option [value]="item.id" *ngFor="let item of listProvince">
                                    {{item.name}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex.gt-xs="100" style="width: 100%;">
                            <mat-label>Quận /Huyện</mat-label>
                            <mat-select formControlName="district_id" (selectionChange)="changeDistrict($event)">
                                <mat-option [value]="item.id" *ngFor="let item of listDistrict">
                                    {{item.name}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex.gt-xs="100" style="width: 100%;">
                            <mat-label>Xã phường</mat-label>
                            <mat-select formControlName="wards_id">
                                <mat-option [value]="item.id" *ngFor="let item of listWards">
                                    {{item.name}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex.gt-xs="100">
                            <mat-label>Mô tả</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                            <mat-error>Mô tả là bắt buộc!</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field appearance="outline" fxFlex.gt-xs="100">
                            <mat-label>Email</mat-label>
                            <input matInput required formControlName="email">
                            <mat-icon matSuffix class="secondary-text">email</mat-icon>
                            <mat-error>Email là bắt buộc!</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field appearance="outline" fxFlex.gt-xs="100" style="width: 100%;">
                            <mat-label>Phương thức bán hàng</mat-label>
                            <mat-select formControlName="ship">
                                <mat-option [value]="item[0]"
                                    *ngFor="let item of [['0','Bán tại cửa hàng'],['1','Bán online'],['2','Cả hai']]">
                                    {{item[1]}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>

                    <button class="mt-12" mat-raised-button color="accent" (click)="confirmRegister()">LƯU</button>
                </form>
            </div>
        </div>
    </div>
</div>