.inputFile {
    width: 0.01rem;
    height: 0.01rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .labelUpload{
    font-weight: 500;
                display: block;
                margin-left: auto;
                margin-right: auto;
  }  