.header {
    position: relative;
    color: #fff;
    .button-action {
        position: absolute;
        padding: 5px 20px;
        bottom: -22px;
        right: 16px;
        z-index: 999;
        border-radius: 30px;
        color: #fff;
    }
}
.link {
    cursor: pointer !important;
}
.boxEvent{
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 2px;
}
.img-product{
    text-align: center;
}